.about {
    height: 100vh;
    width: 100%;
    background-color: #1A1919;

    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

.about__sections {
   margin-left: 40px;
    
}



.about__sections-title{
    padding-bottom: 4px;
    color: #98AC20;
}

.about__sections img {
    margin-top: 10px;
    width: 700px;
    max-width: 90%;

    filter: grayscale(10%);

    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(255, 255, 255, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(255, 255, 255, 0);
}

.about__sections img:hover{
    cursor: pointer;
    filter: grayscale(90%);
    transition: 0.7s;
}

.hr {
    display: block;
    background-color: #98AC20;
    color: #98AC20;
    height: 3px;
    width: 200px;
    max-width: 40%;
    margin: 4px 0;
    border: #98AC20 1px solid;
}

.about__sections-link{
    text-decoration: none;
}