---

---

<section>
    <nav>
        <ul>
            <li>
                <a href="/About">Sobre mi</a>
            </li>

            <li>
                <a href="/Blog">Experiencia</a>
            </li>

            <li>
                <a href="/Projects">Proyectos</a>
            </li>
        </ul>
    </nav>
</section>

<style>

    section {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 13%;
        z-index: 1;

        background: rgba(0, 0, 0, 0.043);
        border-radius: 10px;
    }

    section a {
        font-size: 1.2rem;
        text-decoration: none;
        color: black;
        padding-right: 20px;
    }

    ul {
        list-style-type: circle;
    }

    ul li {
        margin: 10px 0;
    }

    

</style>


