---
import CardUser from "../components/CardUser/CardUser.astro";
import CardAbout from "../components/CardAbout/CardAbout.astro";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar/NavBar.astro";

import MoreContent from "../components/MoreContent/MoreContent.astro";
import Projects from "../components/Projects/Projects.astro";

import { CONTENT_PROJECT_1, CONTENT_PROJECT_2 } from "../data/projects-companies.js";
import { CONTENT_PROJECT_FREELANCE, CONTENT_MY_PROJECTS } from "../data/projects-freelance.js";
---

<Layout>
  <main>
    <header>
      <CardUser />
      <NavBar />
    </header>

    <CardAbout title="Sobre mi">
      <p>
        Con más de 4 años de experiencia como Full Stack Developer, estoy
        trabajando en Guadaltel S.A., desarrollando la librería API-CNIG y
        API-IDEE, sitios webs cartográficos, aplicaciones webs, testing y accesibilidad.
      </p>
      <p>
        Como autónomo, he gestionado proyectos con tecnologías
        como React, NodeJS, PHP, JavaScript y bases de datos relacionales (MySQL).
      </p>
    </CardAbout>

    <CardAbout title="Experiencia">
      <div>
        <strong id="projects-guadaltel" class="subTitle">Full Stack Developer en Guadaltel, S.A.</strong>
        <p class="date">
          Marzo 2022 - Actualidad [Sevilla · España] [SIG, Instituto
          Geográfico Nacional]
        </p>
        <p>
          Desarrollo y mantenimiento de sitios web relacionados con el Instituto
          Geográfico Nacional y desarrollo de la librería API-CNIG y API-IDEE.
        </p>

        <p class="date">
          Febrero 2025 - Actualidad [Sevilla · España] [Ayuntamiento de Madrid]
        </p>
        <p>
          Desarrollo del portal de datos abiertos del Ayuntamiento de Madrid.
        </p>

        <CardAbout title="Proyectos" typeTitle="h2">
          <div class="projects-work">
            <Projects contentProjects={CONTENT_PROJECT_1} />
            <MoreContent>
              <Projects contentProjects={CONTENT_PROJECT_2} />
            </MoreContent>
          </div>
        </CardAbout>
      </div>

      <div>
        <strong id="projects-freelan" class="subTitle">Full Stack Developer Autónomo</strong>
        <p class="date">
          Octubre 2020 - Febrero 2022 [Sevilla · España] [Plataforma de
          Oposiciones]
        </p>
        <p>
          Desarrollo de sitios web con CMS, tecnologías web y bases de datos
          relacionales para un web de oposiciones a Policía Nacional.
        </p>

        <p class="date">
          Mayo 2024 - Junio 2024 [Sevilla · España] [European Grand Old Rugby
          Festival]
        </p>
        <p>
          Desarrollo de la web oficial del evento deportivo European Grand Old
          Rugby Festival 2024.
        </p>
      </div>

    <CardAbout title="Proyectos como freelance" typeTitle="h2">
      <div class="projects">
         <Projects contentProjects={CONTENT_PROJECT_FREELANCE} />
      </div>
    </CardAbout>

    <CardAbout title="Proyectos Personales" typeTitle="h2">
      <div class="projects">
         <Projects contentProjects={CONTENT_MY_PROJECTS} />
      </div>
    </CardAbout>

      <div>
        <strong
          class="subTitle"
          >Ciclo Formativo de Grado Superior, Desarrollo de aplicaciones web.</strong
        >
        <p class="date">Septiembre 2020 - Marzo 2022 [CESUR · Sevilla · España]</p>

        <p>✓ Frontend: HTML, CSS y JavaScript.</p>
        <p>✓ Backend: Diseño de base de datos, SQL, MongoDB, Microsoft SQL Server, MySQL, PHP y Java.</p>
        <p>✓ Herramientas: Eclipse y Visual Studio Code.</p>
        <p>✓ Control de versiones: Git (GitHub and Bitbucket).</p>
        <p>✓ Formato de datos: XML y JSON.</p>
        <p>✓ Idiomas: Inglés.</p>
        <p>✓ Diseño y experiencia de usuario: UI y UX.</p>
      </div>
    </CardAbout>
  </main>
</Layout>

<style>
  main {
    margin-top: 20px;
    width: 650px;
    height: 100%;
  }

  @media (width <= 700px) { 
    main {
      width: 90%;
    }
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
  }

  .projects-work {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin: 15px 0;
  }

  .projects {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    max-width: 100%;

    margin-bottom: 20px;
  }

  .projects img {
    width: 300px;
    height: 160px;
    border-radius: 10px;
  }

  .date {
    font-size: 0.9rem;
    font-weight: 600;

    color: rgb(63, 63, 63);
  }

  .subTitle {
    font-size: 1.3rem;
    font-weight: 600;
  }
</style>
