---

---

<nav>
  <a href="#Sobre mi">Sobre mí</a>
  <a href="#Experiencia">Experiencia</a>
  <a href="#projects-guadaltel">Proyectos en Empresas</a>
  <a href="#projects-freelan">Proyectos como freelance</a>
</nav>

<style>

  nav * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    width: 100%;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.043);
    border-radius: 10px;
  }

    a {
        font-family: "M PLUS Rounded 1c", serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1.1rem;
        text-decoration: none;
        color: black;
    }

    @media (width <= 700px) {
      a {
        font-size: 0.9rem;
        text-align: center;
      }
     }
</style>
