---
import { Image } from "astro:assets";
import myPhoto from "../../assets/myPhoto.webp";
import Github from "../../assets/icons/Github.astro";
import Linkedin from "../../assets/icons/Linkedin.astro";
import CV from "../../assets/icons/CV.astro";
---

<section>
  <div class="cardUser-info">
    <h1>Hola, Soy Álvaro Ramírez</h1>
    <p>Full stack developer con +4 años de experiencia en el desarrollo web.</p>
    <br>
    <nav>
      <a href="https://github.com/AlvaroCodes">
        <Github />

        GitHub
      </a>

      <a href="https://www.linkedin.com/in/alvaroramirezm/">
        <Linkedin />

        LinkedIn
      </a>

      <a href="/porfolio/cv-alvaro-ramirez.pdf" download>
        <CV />

        Descargar CV
      </a>
    </nav>
  </div>

  <Image src={myPhoto} alt="Descripción de la imagen" />
</section>

<style>
  section * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.043);
    border-radius: 10px;
  }

  @media (width <= 700px) {
    section {
      flex-direction: column-reverse;
      gap: 10px;
      width: auto;
      text-align: center;
    }

    section div {
       display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    section div p {
      width: 70%;
    }

    section nav {
      justify-content: center;
    }
  }

  img {
    width: fit-content;
    max-height: 100px;

    border-radius: 50%;
    border: 2px solid rgb(190, 190, 190);
  }

  .cardUser-info h1 {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  nav a {
    text-decoration: none;
    color: black;

    font-family: "M PLUS Rounded 1c", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 0.85rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 5px;
  }


  nav a:hover {
    color: rgba(0, 0, 1, 0.417);
  }
</style>
